<header>
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
				<h1><%= @member.name %><h1>
				<br>
				<%if @home_teachers.any? %>
				<h2>Your Home Teachers Are: </h3>
    	  <% @home_teachers.each do |f| %>
          <h2><%=f.name%></h2>
          <p><strong>E_MAIL: </strong><%= f.email %></p>
          <p><strong>PHONE NUMBER: </strong><%= f.phone_number %></p>
        <% end %>
	    	<% else %>
	    	<h2> I am sorry, but you are not important enough to have a home teacher.</h2>
	    	<% end %>	 
	    	<br><br><br><br>
	      <h2><%= link_to 'Home', root_path %></h2>
	  </div>
  </div>
</header>